{% extends "base.html" %}

{% block content %}
<h2>Zadat údaje pro doručení</h2>

<form method="post">
    {% csrf_token %}

    {% if guest_form %}
        <h3>Zadat e-mail</h3>
        {{ guest_form.as_p }}
    {% endif %}

    <h3>Doručovací adresa</h3>
    {{ shipping_address_form.as_p }}
    <hr>
    <label>
        <input type="checkbox" id="differentBilling" name="different_billing">
        Fakturační adresa je jiná než doručovací
    </label>

    <div id="billingForm" style="display: none;">
        <h3>Fakturační adresa</h3>
        {{ billing_address_form.as_p }}
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Pokračovat</button>
    <br><br>
    <a href="{% url 'cart' %}" class="btn btn-secondary">Zpět do košíku</a>
</div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const differentBillingCheckbox = document.getElementById('differentBilling');
        const billingForm = document.getElementById('billingForm');

        if (differentBillingCheckbox) {
            differentBillingCheckbox.addEventListener('change', () => {
                billingForm.style.display = differentBillingCheckbox.checked ? 'block' : 'none';
            });
        }
    });
</script>
{% endblock %}
