{% extends "base.html" %}

{% block content %}
    <!-- Počasí a svátek -->
    <div class="weather d-flex justify-content-between align-items-center mb-4 border p-2 d-none d-md-block" id="weather-section" style="display: none;">
        <div class="nameday">
            <p class="m-0">Dnes má svátek: <strong>{{ name_day }}</strong></p>
        </div>
        <div>
            {% if weather_data %}
                <p class="m-0">
                    <strong>Aktuálně:</strong>
                    {% for weather in weather_data %}
                        {{ weather.city|default:"Neznámé město" }}:
                        {{ weather.temperature }}°C,
                        {{ weather.description|default:"Neznámý popis" }}
                    {% endfor %}
                </p>
            {% else %}
                <p class="m-0">Počasí není dostupné.</p>
            {% endif %}
        </div>
    </div>

    <!-- Hlavní nadpis -->
    <h1 class="text-center mb-4" id="home">Vítejte v <span class="highlight">PerfectBody</span>!</h1>
    <p class="lead text-center"><strong>E-shop vytvořen v rámci závěrečného projektu k obhajobě kurzu<br>
        Záměrně znemožněna platba pomocí QR kódu a nebyla přidána platební brána</strong></p>

    <!-- Karty s obsahem -->
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light p-4 rounded shadow home">
                <h2>Představení</h2>
                <p>Projekt PerfectBody je moderní e-commerce platforma zaměřená na fitness a zdravý životní styl. Kromě prodeje zboží, poskytuje prostor pro trenéry. Ti se mohou registrovat, prezentovat své služby a propojit se s klienty. Registrace trenérů je doplněna schvalovacím procesem spravovaným administrátorem, což umožňuje kontrolu nad kvalitou nabízených služeb. Systém zahrnuje uživatelsky přívětivé funkce, jako je pokročilé filtrování, registrace zákazníka, dynamická správa košíku, zákaznické hodnocení zboží a trenérů, a plnohodnotné administrátorské rozhraní pro správu obsahu a uživatelů.</p>
                <p><a href="https://github.com/tanatos09/perfectbody" title="GitHub">Kompletní popis projektu a kód zde</a></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bg-light p-4 rounded shadow home h-100">
                <h2>Vyzkoušejte si webovou aplikaci</h2>
                <p>Porozhlédněte se zde a vyzkoušejte si <a href="https://github.com/tanatos09/perfectbody/blob/master/readme.md#funkcionality-cz" title="kompletní popis funkcionalit zobrazíte kliknutím">funkcionality</a>.</p>
                <p>Pokud si chcete vyzkoušet administrátorské rozhraní a jeho práva, přihlašte se jako admin a zkuste další funkce, které jsou běžným uživatelům zakázány (schvalování služeb trenérů, přidávání administračních práv, vytváření produktů...).</p>
                <p>Databáze se bude každý den obnovovat, takže pokud se vám něco nebude líbit, nebojte se to smazat. Všechny funkce jsou dostupné v administraci a můžete si je vyzkoušet.</p>
                <p>V případě, že se budete registrovat jako trenér, nebudete se zobrazovat v seznamu trenéru dokud nebudete schválen - nutno se přihlásit jako admin a schválit se.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="bg-light p-4 rounded shadow home h-100">
                <h2>Přihlašovací údaje</h2>
                <div class="mb-4">
                    <h5>Admin:</h5>
                    <ul class="list-unstyled">
                        <li><strong>Uživatelské jméno: </strong>admin</li>
                        <li><strong>Heslo: </strong>admin</li>
                    </ul>
                </div>
                <div>
                    <h5>Trenéři:</h5>
                    <p>Všichni trenéři mají heslo: <strong>PythonRemoteCZ24</strong></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}