{% extends "base.html" %}

{% block content %}

    <h1>{{ producer.producer_name }}</h1>
    <p>{{ producer.producer_description }}</p>

    <h2>Produkty výrobce {{ producer.producer_name }}:</h2>
    {% for category, products in grouped_products.items %}
        <h3>{{ category.category_name }}</h3>
        <ul>
            {% for product in products %}
                <li>
                    <a href="{% url 'product' product.id %}">{{ product.product_name }}</a> - {{ product.price }} Kč
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}