{% extends "base.html" %}

{% block content %}

    <h1>Seznam všech našich produktů</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product' product.id %}">
                    <h2>{{ product.product_name }}</h2>
                </a> - {{ product.price }} Kč
                <p>{{ product.product_short_description }}</p>
                {% if product.available_stock > 0 %}
                    <p>Dostupné množství: {{ product.available_stock }} kusů</p>
                    <a href="{% url 'add_to_cart' product.id %}">➕ Přidat do košíku</a>
                {% else %}
                    <p style="color: red;">Není skladem</p>
                {% endif %}
            </li>
        {% empty %}
            <li>Produkty nejsou k dispozici.</li>
        {% endfor %}
    </ul>

{% endblock %}