{% extends "base.html" %}

{% block content %}

    <h1>{{ product.product_name }}</h1>
    <div class="product-description"><b>Popis zboží:</b> {{ product.product_long_description }}</div>

    <br>
    <div class="product-category"><b>Kategorie:</b> <a href="{% url 'category' product.category.id %}">{{ product.category }}</a></div>
    <div class="product-producer"><b>Výrobce:</b> {{ product.producer }}</div>
    <div class="product-stock-availability"><b>Skladová dostupnost:</b>
        {% if product.available_stock > 0 %}
            {{ product.available_stock }} kusů k dispozici.
        {% else %}
            <span style="color: red;">Produkt není skladem.</span>
        {% endif %}
    </div>
    <div class="product-price"><b>Cena:</b> {{ product.price }} Kč</div>

    <br>
    <!-- Adding to cart -->
    {% if product.available_stock > 0 %}
        <div class="add-to-cart">
            <a href="{% url 'add_to_cart' product.id %}">➕ Přidat do košíku</a>
        </div>
    {% else %}
        <p style="color: red;">Nelze objednat</p>
    {% endif %}

{% endblock %}