{% extends "base.html" %}

{% block content %}

    <h1>{{ service.product_name }}</h1>
    <div class="service-description"><b>Popis služby:</b> {{ service.product_long_description }}</div>

    <br>
    <div class="service-category"><b>Kategorie:</b> {{ service.category }}</div>
    <div class="service-trainers"><b>Trenéři:</b> Zde bude seznam všech trenérů.</div>
    <div class="service-price"><b>Cena:</b> {{ service.price }} Kč</div>

    <br>
    <!-- Adding to cart -->
    <div class="add-to-cart">
        <a href="{% url 'add_to_cart' service.id %}">➕ Přidat do košíku</a>
    </div>

{% endblock %}