{% extends "base_.html" %}

{% block content %}

    <h1>Služby našich trenérů</h1>
    <ul>
        {% for service in services %}
            <li>
                <a href="{% url 'service' service.id %}">
                    <h2>{{ service.product_name }}</h2>
                </a> - {{ service.price }} Kč
                <p>{{ service.product_short_description }}</p>
                {% if service.has_approved_trainers %}
                    <a href="{% url 'add_to_cart' service.id %}">➕ Přidat do košíku</a>
                {% else %}
                    <p style="color: red;">Nelze objednat</p>
                {% endif %}
            </li>
        {% empty %}
            <li>Služba není k dispozici.</li>
        {% endfor %}
    </ul>

{% endblock %}