{% extends "base.html" %}

{% block content %}

    <h1>Naši trenéři</h1>

    {% if approved_trainers_services %}
        <ul>
            {% for trainer_service in approved_trainers_services %}
                <li>
                    <a href="{% url 'trainer' trainer_service.trainer.id %}">
                        {{ trainer_service.trainer.full_name }}
                    </a>
                    <p>E-mail: {{ trainer_service.trainer.email }}</p>
                    <p>Telefon: {{ trainer_service.trainer.phone }}</p>
                    <p>Popis: {{ trainer_service.trainers_service_description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Trenéři nejsou k dispozici.</p>
    {% endif %}

{% endblock %}