{% extends "base.html" %}

{% block content %}

    <!-- Seznam všech výrobců -->
    <p>
        <b>Naši výrobci:</b>
        {% for producer_item in all_producers %}
            <a href="{% url 'producer' producer_item.pk %}">{{ producer_item.producer_name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <div class="product-section">
    <h1>{{ producer.producer_name }}</h1>
        <div class="product-content">
    <!-- Zobrazení loga výrobce -->
    {% if producer.producer_view %}
        <div class="product-image">
            <img src="{{ producer.producer_view }}" alt="Logo {{ producer.producer_name }}">
           </div>
                {% else %}
                    <p>Obrázek produktu není k dispozici.</p>
                {% endif %}

<div class="product-details">
    <h2 class="details-header">Popis výrobce</h2>
    <p class="details-description">{{ producer.producer_description }}</p>

<!-- Admin actions -->
{% if user.is_staff %}
    <div>
        <a href="{% url 'edit_producer' producer.pk %}" class="btn btn-sm btn-warning">🖉 Upravit výrobce</a>
        <form method="post" action="{% url 'delete_producer' producer.pk %}" class="delete-button">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Opravdu chcete smazat tohoto výrobce?');">🗑️ Smazat výrobce</button>
        </form>
{% endif %}
    </div>
    <h2>Produkty výrobce</h2>
    {% if grouped_products %}
        {% for category, products in grouped_products.items %}
            <h3>
                <a href="{% url 'products' category.pk %}">
                    {{ category.category_name }}
                </a>
            </h3>
            <ul>
                {% for product in products %}
                    <li>
                        <a href="{% url 'product' product.id %}">{{ product.product_name }}</a> - {{ product.price }} Kč
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>Žádné produkty nejsou k dispozici.</p>
    {% endif %}
            </div>
        </div>
{% endblock %}
