{% extends "base.html" %}

{% block content %}

    <h1>Naši trenéři</h1>

    {% if approved_trainers %}
        <ul>
            {% for trainer in approved_trainers %}
                <li>
                    <a href="{% url 'trainer' trainer.id %}"><h2>{{ trainer.full_name }}</h2></a>
                    <p>Představení trenéra: {{ trainer.trainer_short_description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Trenéři nejsou k dispozici.</p>
    {% endif %}

{% endblock %}