{% extends "base.html" %}

{% block content %}

    <h1>Naši trenéři</h1>

    {% if approved_trainers %}
        <ul>
            {% for trainer in approved_trainers %}
                <li>
                    <a href="{% url 'trainer' trainer.id %}"><h2>{{ trainer.full_name }}</h2></a>
                    <p>Představení trenéra: {{ trainer.trainer_short_description }}</p>

                    {% if user.is_staff %}
                        <a href="{% url 'edit_trainer' trainer.id %}" class="btn btn-sm btn-warning">Upravit</a>
                        <form method="post" action="{% url 'delete_trainer' trainer.id %}" class="delete-button">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger"
                                    onclick="return confirm('Opravdu chcete smazat tohoto trenéra?');">Smazat
                            </button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Trenéři nejsou k dispozici.</p>
    {% endif %}
 <!-- Navigace stránkování -->
        <div class="pagination">
            {% if products %}
                <span class="step-links">
                    {% if products.has_previous %}
                        <a href="?page=1{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">&raquo První</a>
                        <a href="?page={{ products.previous_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">Předchozí</a>
                    {% endif %}

                    <span class="current">
                        Stránka {{ products.number }} z {{ products.paginator.num_pages }}
                    </span>

                    {% if products.has_next %}
                        <a href="?page=
                            {{ products.next_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">Další</a>
                        <a href="?page=
                                {{ products.paginator.num_pages }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">Poslední &#187;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

        {% if not subcategories and not products %}
            <p>Žádné podkategorie ani produkty nejsou k dispozici.</p>
        {% endif %}


{% endblock %}
