{% extends "base.html" %}

{% block content %}
<div class="manage">
    <h1>Admin Dashboard</h1>


<!-- Správa produktů -->
<h2>Správa produktů</h2>

<ul>
    <li><a href="{% url 'add_product' %}">Přidat produkt</a></li>
    <li><a href="{% url 'manage_products' %}">Zobrazit všechny produkty</a></li>

</ul>

<!-- Správa služeb -->
<h2>Správa služeb</h2>

<ul>
    <li><a href="{% url 'approve_service' %}">Schválit služby</a></li>
    <li><a href="{% url 'add_service' %}">Vytvořit službu</a></li>
    <li><a href="{% url 'manage_services' %}">Zobrazit všechny služby</a></li>

</ul>

<!-- Správa trenérů -->
<h2>Správa trenérů</h2>

<ul>
    <li><a href="{% url 'approve_trainer_content' %}">Schvalování popisků upravených popisků trenérů</a></li>
    <li><a href="{% url 'trainers' %}">Zobrazit všechny trenéry</a></li>
</ul>

        <!-- Správa uživatelů-->
    <h2>Správa uživatelů</h2>

<ul>
    <li><a href="{% url 'manage_users' %}">Zobrazit všechny uživatele</a></li>
</ul>


<!-- Správa výrobců -->
<h2>Správa výrobců</h2>
<ul>
    <li><a href="{% url 'add_producer' %}">Přidat výrobce</a></li>
    <li><a href="{% url 'manage_producers' %}">Zobrazit všechny výrobce</a></li>
</ul>

    <!-- Správa kategorií -->

<h2>Kategorie</h2>
<ul>
    <li><a href="{% url 'add_category' %}">Přidat kategorii</a></li>
    <li><a href="{% url 'all_categories' %}">Kompletní zobrazení kategorií</a></li>
    <li><a href="{% url 'empty_categories' %}">Zobrazit prázdné kategorie</a></li>
</ul>
</div>
{% endblock %}
