{% extends "base.html" %}

{% block content %}

<h1>Admin Dashboard</h1>

<!-- Odkazy pro hlavní akce admina -->
    <H2>Správa produktů</H2>
<ul>
    <li><a href="{% url 'add_product' %}">Přidat produkt</a></li>
    <li><a href="{% url 'add_category' %}">Přidat kategorii</a></li>
    <hr>
    <li><a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Kompletní zobrazení kategorií</a></li>
    <li><a href="{% url 'empty_categories' %}" class="btn btn-warning">Zobrazit prázdné kategorie</a></li>
</ul>
<br><br>
    <h2>Správa služeb</h2>
    <ul>
    <li><a href="{% url 'approve_service' %}">Schválit služby</a></li>
    <li><a href="{% url 'add_service' %}">Vytvořit službu</a></li>
        <hr>
        <li><a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Kompletní zobrazení kategorií</a></li>
    <li><a href="{% url 'empty_categories' %}" class="btn btn-warning">Zobrazit prázdné kategorie</a></li>
    </ul>

{% endblock %}
