{% extends "base.html" %}

{% block content %}
  <div class="manage">
<h1>Úprava kategorie: {{ category.category_name }}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Uložit změny</button>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Zpět na dashboard</a>
</form>

<hr>

<h2>Podkategorie</h2>
<ul>
    {% for subcategory in category.subcategories.all %}
        <li>
            <a href="{% url 'products' subcategory.pk %}">{{ subcategory.category_name }}</a>
            <a href="{% url 'edit_category' subcategory.pk %}" class="btn btn-warning btn-sm">Upravit</a>
        </li>
    {% empty %}
        <li>Žádné podkategorie nejsou dostupné.</li>
    {% endfor %}
</ul>
    </div>
{% endblock %}
