{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Upravit uživatelský profil</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Uložit změny</button>
        </form>
        <a href="{% url 'profile' %}">Zpět na profil</a>
    {% else %}
        <p>Pro přístup na tuto stránku se musíte <a href="{% url 'login' %}">přihlásit</a>.</p>
    {% endif %}



{% endblock %}
