{% extends "base_.html" %}

<title>Registrace trenéra</title>

{% block content %}

    <h1>Registrace trenéra</h1>
    <form method="post">
        {% csrf_token %}

        <!-- Přihlašovací údaje -->
        <h3>Přihlašovací údaje</h3>
        <div class="form-row">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.password_confirm.label_tag }}
            {{ form.password_confirm }}
            {% if form.password_confirm.errors %}
                <div class="error">{{ form.password_confirm.errors }}</div>
            {% endif %}
        </div>

        <!-- Osobní údaje -->
        <h3>Osobní údaje</h3>
        <div class="form-row">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <div class="error">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <div class="error">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.date_of_birth.label_tag }}
            {{ form.date_of_birth }}
            {% if form.date_of_birth.errors %}
                <div class="error">{{ form.date_of_birth.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {% if form.phone.errors %}
                <div class="error">{{ form.phone.errors }}</div>
            {% endif %}
        </div>

        <!-- Krátký a dlouhý popis -->
        <h3>Představení trenéra</h3>
        <div class="form-row">
            {{ form.trainer_short_description.label_tag }}
            <br>
            {{ form.trainer_short_description }}
            {% if form.trainer_short_description.errors %}
                <div class="error">{{ form.trainer_short_description.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            <br>
            {{ form.trainer_long_description.label_tag }}
            <br>
            {{ form.trainer_long_description }}
            {% if form.trainer_long_description.errors %}
                <div class="error">{{ form.trainer_long_description.errors }}</div>
            {% endif %}
        </div>

        <!-- Výběr služeb -->
        <br>
        <div class="form-row">
            {{ form.services.label_tag }}
            {{ form.services }}
            {% if form.services.errors %}
                <div class="error">{{ form.services.errors }}</div>
            {% endif %}
        </div>

        <!-- Popisy služeb -->
        <div class="form-row">
            <br>
            {{ form.trainers_services_descriptions.label_tag }}
            <br>
            {{ form.trainers_services_descriptions }}
            {% if form.trainers_services_descriptions.errors %}
                <div class="error">{{ form.trainers_services_descriptions.errors }}</div>
            {% endif %}
        </div>

        <!-- Adresní údaje -->
        <h3>Adresní údaje</h3>
        <div class="form-row">
            {{ form.add_address.label_tag }}
            {{ form.add_address }}
            {% if form.add_address.errors %}
                <div class="error">{{ form.add_address.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.street.label_tag }}
            {{ form.street }}
            {% if form.street.errors %}
                <div class="error">{{ form.street.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.street_number.label_tag }}
            {{ form.street_number }}
            {% if form.street_number.errors %}
                <div class="error">{{ form.street_number.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.city.label_tag }}
            {{ form.city }}
            {% if form.city.errors %}
                <div class="error">{{ form.city.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.postal_code.label_tag }}
            {{ form.postal_code }}
            {% if form.postal_code.errors %}
                <div class="error">{{ form.postal_code.errors }}</div>
            {% endif %}
        </div>

        <div class="form-row">
            {{ form.country.label_tag }}
            {{ form.country }}
            {% if form.country.errors %}
                <div class="error">{{ form.country.errors }}</div>
            {% endif %}
        </div>

        <br>
        <button type="submit">Registrovat jako trenér</button>
    </form>

    <p><a href="{% url 'register' %}">Zpět na registraci zákazníka</a></p>

{% endblock %}