/*dohledej v kodu*/
#content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}





/*nad tím odstrań pokud nedohledáš v kodu*/

h3 {
    margin-bottom: 15px; /* Mezera pod nadpisem */
    font-size: 1.2rem; /* Velikost písma */
    color: #333; /* Tmavě šedý text */
}



label {
    display: block; /* Každý popisek na samostatném řádku */
    margin-bottom: 5px; /* Mezera pod popiskem */
    font-weight: bold; /* Tučné písmo */
    color: #555; /* Středně šedý text */
}





button:hover {
    background-color: #0056b3; /* Tmavší modrá při najetí */
}

button:disabled {
    background-color: #ccc; /* Šedé tlačítko při deaktivaci */
    cursor: not-allowed; /* Změna kurzoru při deaktivaci */
}

.hidden {
    display: none; /* Skrytí prvku */
}




/* Styl pro formulář s množstvím */
form.quantity-form {
    padding: 0; /* Odstranění paddingu */
    margin: 0; /* Odstranění marginu */
    display: inline-block; /* Zajistí, že formulář nezabírá celou šířku */
    background: none; /* Odstranění pozadí */
    border: none; /* Odstranění rámečku */
    box-shadow: none; /* Odstranění stínu */
}
/* Formulář pro schvalování služeb */
form.approve-service-form {
    padding: 0; /* Odstranění paddingu */
    margin: 0; /* Odstranění marginu */
    background: none; /* Žádné pozadí */
    border: none; /* Bez rámečku */
    display: inline; /* Zajistí, že formulář nezabírá celou šířku */
    box-shadow: none; /* Odstranění stínů */
}

/* Styl tlačítka "Schválit" */
button.approve-button {
    margin-bottom: 0.1rem;
    font-size: 1rem;
    background-color: #28a745; /* Zelené pozadí */
    color: white; /* Bílé písmo */
    border: none; /* Bez rámečku */
    border-radius: 5px; /* Zaoblené rohy */
    cursor: default;
    transition: background-color 0.3s; /* Plynulý přechod */
}
button.reject-button {
    margin-bottom: 0.1rem;
    font-size: 1rem;
    background-color: #dc3545; /* Červené pozadí */
    color: white; /* Bílé písmo */
    border: none; /* Bez rámečku */
    border-radius: 5px; /* Zaoblené rohy */
    cursor: default;
    transition: background-color 0.3s; /* Plynulý přechod */
}
.stars {color: #f5b301;}

form label {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;}
label div.rating{
justify-content: center;
}

hr{
    margin: 40px 0;}
