/* Základní styl pro tělo a stránku */
body {
    font-family: Arial, sans-serif;
    background-image: url('/static/images/mw_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    z-index: 1000;
}
header.fixed-top {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 1030;
    height: 100vh;
}
.sticky-top {
    position: sticky;
    z-index: 1040;
    padding: 0px;
    margin: 0;
    top: 0;
    background-color: #27ec55;
}

/* Main styling */
main {
    width: 85%;
    flex-grow: 1;
    overflow-y: auto; /* Posuvník pouze v hlavním obsahu */
    padding: 0 20px 70px 20px;
    margin: 0 auto;
}
main li {
    list-style-type: square;
}
.logo-container {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    padding:10px 0;
}

.logo-img {
    max-height: 80px; /* maximální výška loga */
    height: auto;
    width: auto; /* Zachování poměru stran */
}

/* Obsah hlavního bloku */
.category-image {

}
.content-container {
    width: 100%; /* Obsah vyplní celý main */
    background-color: rgba(255, 255, 255, 0.8); /* Poloprůhledné pozadí */
    padding: 20px; /* Vnitřní odsazení */
    border-radius: 10px; /* Zaoblené rohy */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Stín kolem obsahu */
    margin: 0;
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    list-style: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position: relative;
    padding-left: 15px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: 0;
    z-index: 1050;
}


/* Responsivní navbar */
.navbar-toggler {
    border: none;
    font-size: 1rem;
}
.navbar-nav {
    margin-top: 5px;
}
.navbar-nav .nav-item {
    position: relative;
}
.collapse {
    display: none;
}

@media (max-width: 768px) {
    #search-form {
        width: 80%; /* Širší vyhledávací pole na menších obrazovkách */
    }

    .logo-img {
        max-height: 50%; /* Zmenší logo na polovinu při mobilním zobrazení */
    }
    .collapse {
        display: block;
    }
}

@media (min-width: 1200px) {
     #search-form {
        width: 50%; /* Užší na extra velkých obrazovkách */
    }
    .icon-size {
        width: 2.5em;
        height: 2.5em;
    }
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* === Style search === */
.search-wrapper {
    display: flex;
    justify-content: center; /* Zarovnání na střed */
    align-items: center;
    width: 100%; /* Kontejner pokryje celou šířku */
    margin: 0 auto;
    gap: 0px; /* Mezera mezi vyhledáváním a ikonou */
}
#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
}
#search-input {
    flex: 1;
    padding: 10px; /* Zvýšení čitelnosti */
    font-size: 0.9rem;
}
#search-form button {
    padding: 8px 15px;
    font-size: 0.9rem;
    border-radius: 5px;
    display: inline-block;
}

/* === style icon === */
.icon-size {
    width: 1.5em; /* Nastavení stejné šířky */
    height: 1.7em; /* Nastavení stejné výšky */
    display: inline-block;
    vertical-align: middle; /* Zarovnání na střed s textem */
    margin-left: 10px; /* Mezera vpravo od vyhledávacího pole */
}

#search-results ul{
    padding: 10px;
}
#search-form {
    width: 60%;
    position: relative;
}

/* === Alert === */
/* Alert container */
.alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%; /* Roztažení na celou šířku main */
    margin-top: 20px; /* Odstup od horního okraje */
    margin-bottom: 10px; /* Odstup od obsahu */
    z-index: 1050; /* Zajištění viditelnosti nad obsahem */
}

/* Alerty */
.alert {
    width: 90%; /* Zabírá většinu šířky stránky */
    max-width: 500px; /* Maximální šířka */
    margin-bottom: 10px; /* Odstup mezi jednotlivými alerty */
    border-radius: 8px; /* Jemné zaoblení rohů */
    text-align: center;
    transition: opacity 0.15s linear;
}

/* Specifické styly pro typy alertů */
.alert-success {
    background-color: #d4edda; /* Zelené pozadí */
    color: #155724; /* Tmavě zelený text */
}

.alert-danger {
    background-color: #f8d7da; /* Červené pozadí */
    color: #721c24; /* Tmavě červený text */
}

/* Tlačítko pro zavření alertu */
.alert-dismissible .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* === Footer === */
footer {
    font-size: 0.8rem;
    background-color: #f8f9fa !important; /* Světle šedá barva */
    color: #6c757d; /* Šedé písmo */
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: initial;
}
footer a {
    color: #6c757d; /* Šedé odkazy */
    background-color: #ffffff; /* Bílé podbarvení odkazů */
    border-radius: 5px;
    text-decoration: none;
    padding: 0 5px;
}

footer a:hover {
    color: #ffffff; /* Bílé písmo při najetí myší */
    background-color: #6c757d; /* Šedé podbarvení při najetí myší */

}