html, body {
    /*font-family: Arial, sans-serif;*/
    background-image: url('/static/images/pozadibg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    font-size: 0.9em;
}
body {
    overflow-y: auto; /* Povolení automatického scrollu pouze při přetečení */
}
header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    z-index: 1000;
}
header.fixed-top {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 1030;
    height: 100vh;
}

.sticky-top {
    position: sticky;
    z-index: 1040;
    padding: 0;
    margin: 0;
    top: 0;
}
td {
    padding-right: 20px;
}
table{
    margin-bottom: 20px;
}
.review{
    text-align: center;
}
/* Main styling */
main {
    align-items: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow-y: auto; /* Posuvník pouze v hlavním obsahu */
    padding: 0 20px ;
    width: 100%; /* Zarovná obsah na šířku stránky */
    max-width: 100%; /* Zamezí překročení šířky */
    margin: 0; /* Odstranění okrajů */
    box-sizing: border-box; /* Zahrnuje padding do celkové šířky */
   /*  min-height: calc(100vh - var(--header-height) - var(--footer-height));  Dynamicky určuje výšku */

}
main li {
    list-style-type: none; /*square*/
}
main a {
    color: #6c757d; /* Šedá barva odkazu */
    font-weight: bold; /* Tučné písmo */
    text-decoration: none; /* Bez podtržení */
    transition: color 0.2s ease; /* Plynulý přechod barvy při najetí */
}

main a:hover {
    color:darkred; /* Červená barva při najetí */
}

main h1 {
    color: darkred;
    font-size:1.6em;
    margin:0 0 1.2em 0;
    font-weight: bold;
    border-bottom: darkred 1px solid;
    border-top: darkred 1px solid;
    display: block;
    padding: 0.3em 0;


}
main h2 {
    background: dimgrey;
    color: white;
    font-size: 1.3em;
    padding: 5px 10px;

}
main img {
    float: left;
    margin-right: 20px; /* Mezera mezi obrázkem a textem */

    max-width: 400px; /* Maximální šířka obrázku */


height: auto; /* Zachování proporcí obrázku */
}
/*.logo-container {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    padding:10px 0;
}

.logo-img {
    max-height: 80px;
    height: auto;
    width: auto; /
}*/

/* Obsah hlavního bloku */
.category-image {

}
.content-container {
    flex-grow: 1; /* Roztáhne kontejner */
    box-sizing: border-box;
    width: 85% !important;
    background-color: rgba(255, 255, 255, 0.7); /* Poloprůhledné pozadí */
    /*padding: 20px;  Vnitřní odsazení */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /*  Stín kolem obsahu */
    margin: 0;
    position: relative;
    z-index: 1;
}
.content-container ul{
    margin: 0;
    padding: 0;
}
/* Dropdown menu */
.dropdown-menu {
    font-size: 0.8em;
    padding: 0; /* Odstranění výchozích odsazení */
    max-width: 350px; /* Maximální šířka menu */
    max-height: 350px; /* Maximální výška menu */
    overflow-y: auto; /* Povolení posouvání, pokud je obsah vyšší než 350px */
    column-count: auto; /* Rozdělení položek do dvou sloupců */
    column-gap: 20px; /* Mezera mezi sloupci */
    background-color: white; /* Bílé pozadí pro celé menu */
    border: 1px solid #ccc; /* Ohraničení menu */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Jemný stín */
}

/* Kategorie (hlavní položky v dropdownu) */
.dropdown-menu > li > a {
    background-color: #6c757d; /* Tmavě šedé pozadí */
    color: white; /* Bílé písmo */
    font-weight: bold; /* Tučné písmo */
    padding: 10px 15px; /* Vnitřní odsazení */
    display: block; /* Zajištění, že odkaz zabírá celý řádek */
    border-bottom: 1px solid #ddd; /* Spodní čára mezi kategoriemi */
}
.dropdown-menu > h5 {
    background-color: #6c757d; /* Tmavě šedé pozadí */
    color: white; /* Bílé písmo */
    font-weight: bold; /* Tučné písmo */
    padding: 10px 15px; /* Vnitřní odsazení */
    display: block; /* Zajištění, že odkaz zabírá celý řádek */
    border-bottom: 1px solid #ddd; /* Spodní čára mezi kategoriemi */
}
/* Hover efekt pro kategorie */
.dropdown-menu > li > a:hover {
    background-color: #5a6268; /* Tmavší šedé pozadí při najetí */
    color: white; /* Bílé písmo */
}

/* Subkategorie (vnořené položky) */
.dropdown-menu .dropdown-submenu > li > a {
    background-color: white; /* Bílé pozadí pro subkategorie */
    color: #6c757d; /* Šedé písmo */
    font-weight: normal; /* Normální písmo */
    padding: 8px 15px; /* Menší vnitřní odsazení */
}

/* Hover efekt pro subkategorie */
.dropdown-menu .dropdown-submenu > li > a:hover {
    background-color: #f8f9fa; /* Světle šedé pozadí při najetí */
    color: #6c757d; /* Šedé písmo */
}

/* Odstranění odrážek z dropdownu */
.dropdown-menu ul {
    list-style: none; /* Odstranění odrážek */
    margin: 0; /* Odstranění vnějších okrajů */
    padding: 0; /* Odstranění vnitřních odsazení */
}
/* Čára nad dalšími položkami */
.dropdown-divider {
    border-top: 1px solid #ddd; /* Světle šedá čára */
    margin: 10px 0; /* Mezery kolem čáry */
}
/* Styl pro položky menu */
.dropdown-item {
    padding: 10px 15px; /* Přidání odsazení položek */
    color: #333; /* Standardní šedý text */
    text-decoration: none; /* Bez podtržení */
    transition: background-color 0.3s ease, color 0.3s ease; /* Efekt při najetí */
}

.dropdown-item:hover {
    background-color: darkred;

}


.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position: relative;
    padding-left: 15px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: 0;
    z-index: 1050;
}


/*navbar*/
#MainNav{
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    align-items: flex-end;
    width: 100%;
    border-bottom-color: #6c757d;
    border-bottom-style: double;
    padding: 0 !important; /* Odstranit veškerý padding */
    margin: 0 !important;  /* Odstranit veškerý margin */
    height: auto; /* Dynamická úprava výšky */
}
#MainNav .navbar-nav  .nav-link {
    font-size: 0.9em;
    border-left: double 3px #aaa; /* Dvojitá čára na levé straně */
    border-right: double 3px #aaa; /* Dvojitá čára na pravé straně */
    border-top: solid 2px #aaa; /* Jednoduchá čára nahoře */
    border-bottom: none; /* Bez čáry dole */
    border-radius: 5px 5px 0 0;
    padding: 5px 15px; /* Vnitřní odsazení */
    color: #696969; /* Základní barva textu */
    background-color: transparent; /* Průhledné pozadí */
    text-decoration: none; /* Bez podtržení textu */
    transition: all 0.3s ease; /* Plynulý přechod efektů */
    margin: 0 10px ;
}



.container-fluid {
    padding: 5px 15px 0 0;
    margin: 0 !important;
}
/* Efekt při najetí */
#MainNav .navbar-nav .nav-link:hover {
    background-color: #f0f0f0; /* Světle šedé pozadí */
    color: red; /* Text se zbarví do červena */
}

/* Efekt při kliknutí */
#MainNav .navbar-nav .nav-link:active {
    background-color: #6c757d; /* Tmavě šedé pozadí */
    color: white; /* Bílý text */
    font-weight: bold;
}
#MainNav .navbar-nav .nav-link.active {
    background-color: #6c757d; /* Tmavě šedé pozadí */
    color: white; /* Bílý text */
    border-color: #6c757d; /* Barva ohraničení odpovídající pozadí */
}
/* Responsivní navbar */
#MainNav .navbar-toggler {
    border: none;
    font-size: 1rem;
}
#MainNav .navbar-nav {
    margin-top: 0 !important; /* Odstranění horního okraje */
    margin-bottom: 0 !important; /* Odstranění spodního okraje */
}
#MainNav .navbar-nav .nav-item {
    position: relative;
}
.collapse {
    display: none;
}
.navbar-bra {
    display: flex;
    align-items: center;
}

.navbar-logo {
    max-height: 80px;
    height: auto;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/*Breadcrumb*/
ol.breadcrumb{
    background-color: #6c757d;
    color: white;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: .5rem !important;
    margin-bottom: 1.5rem !important;
    align-self: flex-start;
    display: flex;
    list-style: none;

}
ol.breadcrumb-item.active {
    color: white;
}
ol.breadcrumb li {
  display: inline;
  font-weight: bold;
  margin: 0 5px;
}
ol.breadcrumb li+li:before {
  padding: 0 ;
  font-weight: bold;
  content: "|";
}
ol.breadcrumb li a {
  color: white;
  font-weight: bold;
}
ol.breadcrumb>li>a:hover {
  font-weight: bold;
}
.weather{
 background-color: #6c757d;
    color: white;
    font-size: 0.8rem;
    border-radius: 5px;
    display: none;
}
.m-0{
    background-color: #6c757d;
    color: white;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 0 !important;

}
/* === Style search === */
#search-form-all {
    position: absolute;
    justify-content: center;
    top: 5px;
    width: 100%;


   /* left: inherit;
    transform: translateX(-25%);
    z-index: 1050;
    align-items: center;*/
}

.search-wrapper {
     align-items: center;
    width: 100%; /* Kontejner pokryje celou šířku */
    margin: 0 auto;
    gap: 0; /* Mezera mezi vyhledáváním a ikonou */
    position: relative; /* Zachová relativní pozici pro obsah */
}
#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    padding: 0 10px;
    list-style: none;
    }
#search-input {
    font-size: 0.7rem; /* Menší velikost písma */
    font-style: italic;
    padding: 0 10px; /* Odstranění paddingu pro snížení výšky */
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    width: 100%;
}
#search-form button {
    padding: 3px 3px;
    border-radius: 5px;
    display: inline-block;

}
#search-results ul {
    text-align: left;
    list-style-type: none; /* Odebere tečky z odrážek */
    margin: 0;
    padding: 0;

}


#search-results ul li {
    list-style-position: outside;
    border-bottom: 1px solid #f1f1f1; /* Oddělí jednotlivé položky linkou */
}

#search-results li:last-child {
    border-bottom: none; /* Odstraní spodní linku u poslední položky */
}
#search-results a {
    font-weight: bold;
    padding: 0 5px; /* Zvýšení čitelnosti */
    border-radius: 5px; /* Zaoblené okraje odkazu */
    text-decoration: none; /* Bez podtržení */
    transition: background-color 0.2s ease, color 0.2s ease; /* Plynulý efekt při najetí */
    color: #6c757d; /* Šedé odkazy */
    display: block;
    border:double ;
    }

#search-results a:hover {
    color:darkred;
}
#search-results h3{
    background-color: #6c757d;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 3px 5px ;
    margin-bottom: 0;
    display: block;
}
main li h3 {
    list-style: none;
    margin: 0.5em 0;
    text-align: left;
    color: darkred;
    border-top: solid 1px darkred;
}
h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
#search-results ul{
    padding: 10px;
}
#search-form-nav {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Vycentrování */
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* Poloprůhledné pozadí */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Jemný stín */


   /* position: relative;
    left: 50%;
    transform:translate(-50%);*/
}

#search-form-nav button {
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
    background-color:#696969 ;
    color: white;
    transition: background-color 0.3s ease;
}

#search-form-nav button:hover {
    background-color: #ccc;
}
form#search-form-nav {
    padding: 0 !important; /* Odstranění paddingu */
    margin: 0 auto; /* Vycentrování */
    display: flex;
    justify-content: space-between; /* Rovnoměrné rozložení */
}

.input-group {
    flex-wrap: nowrap;


}
/* uživatel, registrace */
.form-row {
    margin-bottom: 15px;
}
.form-row label {
    font-size: 0.8em;
}
/* === style icon === */
.icon-size {
    width: 1.5em; /* Nastavení stejné šířky */
    height: 1em; /* Nastavení stejné výšky */
    display: inline-block;
    vertical-align: middle; /* Zarovnání na střed s textem */

}

#search-results ul{
    padding: 10px;
}




.alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%; /* Roztažení na celou šířku main */
    margin-top: 20px; /* Odstup od horního okraje */
    margin-bottom: 10px; /* Odstup od obsahu */
    z-index: 1050; /* Zajištění viditelnosti nad obsahem */

}

/* Alerty */
.alert {
    width: 90%; /* Zabírá většinu šířky stránky */
    max-width: 500px; /* Maximální šířka */
    margin-bottom: 10px; /* Odstup mezi jednotlivými alerty */
    border-radius: 8px; /* Jemné zaoblení rohů */
    text-align: center;
    transition: opacity 0.15s linear;
    border:1px #555;
}

/* Specifické styly pro typy alertů */
.alert-success {
    background-color: #d4edda; /* Zelené pozadí */
    color: #155724; /* Tmavě zelený text */
}

.alert-danger, .alert-error {
    background-color: #f8d7da; /* Červené pozadí */
    color: #721c24; /* Tmavě červený text */
}
.alert-info {
    background-color: lightblue;
    color: #2196F3;
}
.alert-warning {
    background-color:lightyellow;
    color:#ff9800;
}
/* Tlačítko pro zavření alertu */
.alert-dismissible .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* === Footer === */
footer {
    font-size: 0.8em;
    background-color: #f8f9fa !important; /* Světle šedá barva */
    color: #696969; /* Šedé písmo */
    text-align: center;
    padding: 0.5rem 0;
    position: relative;
    z-index: 20;
    margin: 0;
    bottom: 0;
    width: 100%;
    line-height: 1rem;
    font-weight: normal;
}
footer a {
    color: #6c757d; /* Šedé odkazy */
    background-color: #ffffff; /* Bílé podbarvení odkazů */
    border: double #6c757d;
    border-radius: 5px;
    text-decoration: none;
    padding: 0 0.5rem;
}

footer a:hover {
    color: #ffffff; /* Bílé písmo při najetí myší */
    background-color: #6c757d; /* Šedé podbarvení při najetí myší */

}
 footer strong {
     color: #6c757d;
 }
textarea {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

button {
    background-color: darkviolet;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: default;
}

button:hover {
    background-color: violet;
}

/* === Hvězdičky (umístěno dole) === */
.average-rating {
    margin-top: 1rem;
    text-align: center;
}

.rating-stars {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.rating-stars .filled {
    color: #f5b301; /* Zlatá barva */
}

.rating-stars .half-filled {
    position: relative;
    color: #ccc; /* Základní šedá barva */
}

.rating-stars .half-filled::before {
    content: "★";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Pouze levá polovina */
    height: 100%;
    overflow: hidden;
    color: #f5b301; /* Zlatá barva pro levou část */
    z-index: 1;
}

.rating-stars .empty {
    color: #ccc; /* Šedá barva */
}

/* Hvězdičky ve formuláři */
.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    justify-content: center;
    margin-top: 0.5rem;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    color: gray;
    cursor: default;
    transition: color 0.2s ease-in-out;
}

.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}

.rating input:checked ~ label {
    color: gold;
}

/*Košík - cart*/
#MainNav #cart-wrapper{
   position: absolute;

    border: 0;
    border-radius: 0 0 5px 5px;
}
#cart-wrapper {
     /* Umístění relativně k rodiči */
    top:0;
    display: flex; /* Flexbox pro správné zarovnání obsahu */
    align-items: center; /* Zarovná obsah vertikálně na střed */
    justify-content: flex-end; /* Zarovná obsah horizontálně */
    background-color: transparent; /* Průhledné pozadí */
    padding: 0; /* Malé odsazení kolem */
    z-index: 1100; /* Zajistí, že bude nad ostatními elementy */
    width: auto; /* Dynamická šířka */
    transform: translateX(-50%);
}

#cart-wrapper.active {
    display: block;
        left: 50%;
        transform: translateX(-50%);
}
.cart-items {
    list-style: none;
    padding: 0; max-height: 200px;
    overflow-y: auto;
}

#cart-toggle span {
    font-size: 0.9rem; /* Velikost textu */
    font-weight: bold; /* Tučný text */
    color: black; /* Černý text */
    margin-left: 10px; /* Odsazení od ikony */
}

#navbar-cart-dropdown {
    position: absolute;

    right: 0;
    min-width: 250px;
    max-width: 90%;
    background-color: white;
    color: #6c757d;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    display: none;
    overflow-y: auto;
    max-height: 400px;
    z-index: 1050;
    box-sizing: border-box; /* Zohlednění paddingu do šířky */
}
#cart-wrapper:hover #navbar-cart-dropdown {
    display: block;
}
#userDropdown {
    font-size: 0.9em;
    border-radius: 0 0 5px 5px;
    padding: 5px 15px; /* Vnitřní odsazení */
    color: #696969; /* Základní barva textu */
    background-color: transparent; /* Průhledné pozadí */
    text-decoration: none; /* Bez podtržení textu */
    transition: all 0.3s ease; /* Plynulý přechod efektů */
    margin: 0 10px ;
}
#userDropdown, #cart-wrapper {
    margin-right: 10px; /* Mezera mezi prvky */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Pro dropdown menu */
}
.add-to-cart a {
    display: inline-block; /* Zajistí vzhled tlačítka */
    background-color: #6c757d; /* Šedé pozadí */
    color: white; /* Bílé písmo */
    text-decoration: none; /* Odstraní podtržení odkazu */
    padding: 5px 5px 5px 0; /* Vnitřní odsazení pro větší klikací oblast */
    border-radius: 5px; /* Zaoblené rohy */
    font-size: 0.6rem; /* Velikost písma */
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease; /* Plynulý efekt při najetí */
}

.add-to-cart a:hover {
    color: darkred;
    font-weight: bold;
}
.add-to-cart a:active {
    color: darkred;
    font-weight: bold;
}
.add-to-cart-btn::before {
    content: '🛒'; /* Unicode symbol pro košík */
    margin-right: 0.3rem; /* Mezera mezi ikonou a textem */
    font-size: 1rem; /* Velikost ikony */
}

#navbar-cart-dropdown h5 {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: #6c757d;
    padding: 3px 10px;
    border-radius: 5px;
}

#navbar-cart-dropdown p {
    margin: 10px 0 0 0;
    font-size: 0.9rem;
    color: #333;
}

#navbar-cart-dropdown ul li {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    list-style: none;
}

#navbar-cart-dropdown ul li:last-child {
    border-bottom: none;
}

#navbar-cart-dropdown .dropdown-menu {
    position: absolute;
    right: 0;
    min-width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#cart-wrapper:hover #navbar-cart-dropdown,
#cart-wrapper.active #navbar-cart-dropdown {
    display: block;
   /* opacity: 1;
    transform: translateY(0);*/
}

#navbar-cart-dropdown a {
    color: #6c757d;
    text-decoration: none;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#navbar-cart-dropdown a:hover {
    color: darkred;
    background-color: #f8f9fa;
}
#navbar-cart-dropdown h5 {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: #6c757d;
    padding: 3px 10px;
    border-radius: 5px;
}

#navbar-cart-dropdown p {
    margin: 10px 0 0 0;
    font-size: 0.9rem;
    color: #333;
}
#navbar-cart-dropdown ul li:hover a {
    color: darkred !important;
    background-color: #f8f9fa;
}


.admin-dashboard-link {
    background-color: #ffdf03 !important;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none !important;
}


.admin-dashboard-link:hover {
    background-color: #f5c6cb !important;
    color: #491217;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}
.pagination{margin-top: 1.5rem;
.service-reviews{
    margin-top: 2rem; text-align: center;}
}
button[type="submit"]{
    padding:0.25rem 0.5rem;
    font-size: 1rem;
    background-color: #3788ff;
    color: white; border: none;
    border-radius: 5px;
    cursor: default;
}
.redbutton {text-align: center; margin-top: 2rem; color: red;}
.rating-stars{justify-content: center;}
.add-review {margin-top: 2rem; text-align: center;}
.rating {justify-content: center;}
.rating1 {display: block; text-align: center; margin-bottom: 0.5rem;}
#trainer{width: 100%; margin-bottom: 1rem; padding: 0.5rem; font-size: 1rem;}

.comment{display:block; text-align: center; margin-top: 1rem;}
.inline{display: inline-block; text-align: left;}
textarea #comment{width: 100%; padding: 0.5rem; margin-bottom: 1rem; font-size: 1rem;}

.review{margin: 1rem auto; max-width: 600px; padding: 1rem; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;}
p {
    font-size: 1rem; /* Velikost písma */
    line-height: 1.6; /* Výška řádku pro lepší čitelnost */
    text-align: justify; /* Zarovnání do bloku */
    margin-bottom: 1em; /* Mezera mezi odstavci */
    color: #333; /* Barva textu */
}


.trainer-image{
    max-width: 200px;
    height: auto;"
    position: absolute;
}
.trainer-reviews > h2{
    color: white;
    text-align: center;
}
.profile-picture{
     max-width: 150px; height: auto;
}
.form-row {
margin-bottom: 1em;}
.error{
 color: red;
    margin-top: 0.5em;"
}
#search-results{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    background: white;
    border: 1px solid #ccc;
    width: 300px; display: none;
    z-index: 1000;
}
.price{
    text-align: center;
    padding: 10px 5px;}
.table{

    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ccc;}
.home{padding: 10px 20px;
    font-size: 1.2em;}
#home{display: block;}
.cart_{padding: 10px 20px;
    font-size: 1.2em;}
.total{
    margin: 20px auto;
    text-align: right;
    width: 80%;}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    resize: none;}
.start-order{color: blue;
    text-decoration: none;}
.cart_a{
    display: flex;
    justify-content: space-between;
    align-items: center;}
.stars {color: #f5b301;}
.icon-size {
    width: 2em; /* Zvýšená šířka ikony */
    height: 2em; /* Zvýšená výška ikony */
    vertical-align: middle; /* Zarovnání na střed s textem */
}
.navbar-end {
    display: flex;
    justify-content: flex-end; /* Zarovnání doprava */
   gap: 15px; /* Mezera mezi ikonami */
    align-items: flex-end; /* Zarovná obsah na spodní stranu */
    height: 100%; /* Výška kontejneru */
    position: relative; /* Umístění relativně k rodiči */
}

#userDropdown {
    order: 1; /* Uživatelské menu se zobrazí jako první */
}

#cart-wrapper {
    order: 2; /* Košík se zobrazí za uživatelským menu */
}

/* Univerzální styl pro formuláře */
form {
    max-width: 500px; /* Maximální šířka formuláře */
    margin: 0 auto; /* Vycentrování formuláře */
    background-color: #f7f7f7; /* Světle šedé pozadí */
    border: 1px solid #ccc; /* Tenký rámeček */
    border-radius: 8px; /* Zaoblené rohy */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Jemný stín */
}
.form-group {
    margin-bottom: 15px; /* Mezera mezi prvky formuláře */
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%; /* Roztažení přes celou šířku */
    padding: 10px; /* Vnitřní odsazení */
    font-size: 1rem; /* Velikost písma */
    border: 1px solid #ccc; /* Tenký rámeček */
    border-radius: 4px; /* Zaoblené rohy */
    box-sizing: border-box; /* Zohlednění paddingu */
    transition: border-color 0.3s; /* Plynulý přechod změny barvy rámečku */
}

input:focus,
textarea:focus,
select:focus {
   border-color: #007bff; /* Modrý rámeček při zaostření */
    outline: none; /* Odstranění výchozího obrysu */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25); /* Světle modrý stín */
}
button {
    padding: 10px 20px; /* Velikost tlačítka */
    font-size: 1rem; /* Velikost textu */
    color: #fff; /* Bílé písmo */
    background-color: #007bff; /* Modré pozadí */
    border: none; /* Bez rámečku */
    border-radius: 4px; /* Zaoblené rohy */
    cursor: default;
    transition: background-color 0.3s; /* Plynulý přechod změny barvy */
}

/* Styl tlačítka v "add-to-cart" formuláři */
form.add-to-cart button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #28a745; /* Zelené pozadí */
    color: white; /* Bílé písmo */
    border: none; /* Bez rámečku */
    border-radius: 5px; /* Zaoblené rohy */
    cursor: default;
    transition: background-color 0.3s; /* Plynulý přechod */

}
form button .add-to-cart {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: default;
    
}


form.add-to-cart button:hover {
    background-color: #218838; /* Tmavší zelená při najetí */
}

form.add-to-cart button:disabled {
    background-color: #ccc; /* Šedé tlačítko při deaktivaci */
    cursor: not-allowed; /* Změna kurzoru při deaktivaci */
}
form.delete-button {
    display: inline;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;

}
/* Specifické stylování pro formulář s tlačítkem "Přidat do košíku" */
form.add-to-cart {
    display: inline; /* Nastaví inline, aby formulář nezabíral celý řádek */
    padding: 0; /* Odstranění paddingu */
    background: none; /* Odstranění pozadí */
    border: none; /* Odstranění rámečku */
    box-shadow: none; /* Odstranění stínu */
}

.red
{color: red;}




@media (max-width: 768px) {
    #search-form-nav {
        margin-top: 0;
        margin-bottom: 10px; /* Malé odsazení pod navbar */
        display: block; /* Zarovnání pod navbar */
        max-width: 200px; /* Přizpůsobte podle potřeby */
    }



    #search-form-all {
        margin-top: 50px;
        flex-direction: column; /* Formulář pod logem a košíkem */
        align-items: center;
    }

    .logo-img {
        max-height: 50%; /* Zmenší logo na polovinu při mobilním zobrazení */
    }
    .collapse {
        display: block;
    }
     .navbar-logo {
        max-height: 50px;
    }

    .search-wrapper {
        display: flex;
        justify-content: center; /* Zarovnání na střed */
        align-items: center;
        width: 100%; /* Kontejner pokryje celou šířku */
        margin: 0 auto;
        padding: 10px 0;
        gap: 10px; /* Mezera mezi vyhledáváním a ikonou */
    }

    #navbarNav {
        text-align: left;
        align-items: flex-end;
        margin: 0;
        padding: 0;
    }

    #navbar-cart-dropdown {
           left: 10px; /* Odsazení od levého okraje */
        right: 10px; /* Odsazení od pravého okraje */
        max-width: calc(100% - 20px); /* Dynamická šířka pro mobilní zařízení */
    }

    .weather {
        display: none; /* Skryto na mobilech ve výchozím stavu */
    }

    .toggle-info {
        display: block; /* Zobrazení tlačítka pouze na mobilním zobrazení */
    }
    #toggle-button {
        cursor: default; /* Výchozí ukazatel myši */
    }
   .collapse.show {
        display: flex !important; /* Přepsání stylu pro viditelnost při aktivaci */
    }

}

@media (min-width: 1200px) {
     #search-form {
        width: 50%; /* Užší na extra velkých obrazovkách */
    }
    .icon-size {
        width: 2.5em;
        height: 2.5em;
    }
}
@media (min-width: 769px) {
    .toggle-info {
        display: none; /* Skryté na desktopu */
    }

    .weather {
        display: flex; /* Viditelné na větších obrazovkách */
    }
    .toggle-info {
        display: none; /* Tlačítko skryté na desktopu */
    }
}
/* Styl pro větší obrazovky (nad 1024px) */
@media (min-width: 1024px) {
    #search-form-nav {
        margin-top: 50px; /* Odsazení od horní části stránky */
    }
}

/* Styl pro střední obrazovky (768px až 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
    #search-form-nav {
        margin-top: 30px; /* Menší odsazení od horní části stránky */
    }
}