<!DOCTYPE html>
{% load static %}

<html
    {% if LANGUAGE_CODE %}
        lang="{{ LANGUAGE_CODE }}"
    {% else %}
        lang="en"
    {% endif %}
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PerfectBody</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <!-- Navbar -->
    {% include "navbar.html" %}


    <div class="container">
        <div class="jumbotron">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <!-- Footer -->
    {% include "footer.html" %}
</body>

</html>
