<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html
    {% if LANGUAGE_CODE %}
        lang="{{ LANGUAGE_CODE }}"
    {% else %}
        lang="cs"
    {% endif %}
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Perfect Body{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">-->

</head>

<body>
    <div>
        <!-- Navbar -->
        {% include "navbartop.html" %}
        {% include "navbar.html" %}

    <!-- Blok pro vkládání stránek z navbaru -->
        <div class="container mt-5">
            {% block content %}
            {% endblock %}
        </div>


        <!-- Footer -->
        {% include "footer.html" %}


    </div>
</body>
</html>