<nav class="navbar navbar-expand-sm d-flex align-items-start">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/images/PerfectBody_logo_b.png" alt="PerfectBody" style="height: 80px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-up" aria-controls="menu-up" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu-up">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Domů</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false" href="/products/">Produkty</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="#">Jídlo</a></li>
                        <li><a class="dropdown-item" href="#">Čínky</a></li>
                        <li><a class="dropdown-item" href="#">Skopičinky</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false" href="/services/">Služby</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown02">
                        <li><a class="dropdown-item" href="#">Link 1</a></li>
                        <li><a class="dropdown-item" href="#">Link 2</a></li>
                        <li><a class="dropdown-item" href="#">Link 3</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trainers/">Trenéři</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/">Přihlásit se</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register/">Registrovat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart/">🛒</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Vyhledávání" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hledat</button>
            </form>
        </div>
    </div>
</nav>
