{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light" id="MainNav">
    <div class="container-fluid">
        <div class="navbar-logo-container">
            <img src="{% static 'images/PerfectBody_logo_b.png' %}" alt="PerfectBody" class="navbar-logo">
        </div>
        <div class="search-wrapper">
            <!-- Formulář pro vyhledávání -->
            <form method="get" action="{% url 'search' %}" id="search-form"
                  class="form-inline my-2 my-lg-0 mx-auto position-relative">
                <div class="input-group">
                    <input id="search-input" class="form-control" type="search" placeholder="Vyhledávání"
                           aria-label="Search" autocomplete="off">
                    <button class="btn btn-outline-secondary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="icon-size">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </button>
                </div>
                <div id="search-results" class="dropdown-menu w-100 shadow mt-1 p-2" style="display: none;"></div>
            </form>
            <!-- Uživatelské menu a košík -->
            <ul class="navbar-nav nav-tabs ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="-112.6 199.2 23 28"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round" class="icon-size">
                            <path d="M-91.5 213.4c-.8-1.3-1.8-2.5-3-3.5.5-1 .7-2 .7-3.2 0-2.1-.8-4-2.2-5.3-1.4-1.4-3.3-2.2-5.3-2.2s-4 .8-5.3 2.2c-1.4 1.4-2.2 3.3-2.2 5.3 0 1.1.3 2.2.7 3.2-1.2.9-2.3 2.1-3 3.5-.9 1.7-1.5 3.6-1.5 5.6v8.2h22.7V219c-.2-2-.7-3.9-1.6-5.6z"></path>
                        </svg>

                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'profile' %}">{{ user.username }}</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Odhlásit se</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Přihlásit se</a></li>
                            <li><a class="dropdown-item" href="{% url 'register' %}">Registrovat</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown" id="cart-wrapper">
                    <a class="nav-link d-flex align-items-center" href="#" id="cart-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon-size" viewBox="680.7 197.5 39 28"
                             fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m709.9 206-2.8-8.5h-14.2L690 206h-9.3l.5 1.4 6.2 18.1h25.2l6.7-19.5h-9.4z"></path>
                        </svg>
                        <span class="ms-2">Košík (<span id="cart-count">0</span>)</span>
                    </a>
                    <!-- Dropdown -->
                    <div id="navbar-cart-dropdown" class="dropdown-menu p-3" style="min-width: 300px;">
                        <h5>Košík</h5>
                        <ul id="navbar-cart-items" style="list-style-type: none; padding: 0; margin: 0;">
                            <li>Načítám data...</li>
                        </ul>
                        <p class="mt-2"><strong>Celková cena:</strong> <span id="navbar-cart-total">0 Kč</span></p>
                        <a href="/cart/" class="cart-link">Zobrazit košík</a>
                    </div>

                </li>


            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Domů -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Domů</a>
                </li>
                <!-- Produkty -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle
{% if 'product' in request.path or 'products' in request.path %}active{% endif %}" href="#" id="dropdownMenuProducts"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Produkty
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuProducts">
                        {% for category in products_categories %}
                            {% if not forloop.first %}
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'products' category.pk %}">{{ category.category_name }}</a>
                                {% if category.subcategories.exists %}
                                    <ul class="dropdown-submenu list-unstyled">
                                        {% for subcategory in category.subcategories.all %}
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{% url 'products' subcategory.pk %}">{{ subcategory.category_name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- Služby -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if 'services' in request.path %}active{% endif %}" href="#"
                       id="dropdownMenuServices" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Služby
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuServices">
                        {% for category in services_categories %}
                            <div class="dropdown-divider"></div>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'services' category.pk %}">{{ category.category_name }}</a>
                                {% if category.subcategories.exists %}
                                    <ul class="dropdown-submenu">
                                        {% for subcategory in category.subcategories.all %}
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{% url 'services' subcategory.pk %}">{{ subcategory.category_name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if 'trainer' in request.path or 'trainers' in request.path %}active{% endif %}"
                       href="#" id="dropdownTrainers" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Trenéři
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownTrainers">
                        <!-- Odkaz na stránku se seznamem všech trenérů -->
                        <li><a class="dropdown-item" href="{% url 'trainers' %}">Seznam všech trenérů</a></li>
                        <!-- Dynamické načítání jednotlivých schválených trenérů -->
                        {% for trainer in approved_trainers %}
                            <li><a class="dropdown-item"
                                   href="{% url 'trainer' trainer.pk %}">{{ trainer.full_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% if user.is_staff %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link admin-dashboard-link" href="{% url 'dashboard' %}">|Admin Panel|</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const searchInput = document.getElementById('search-input');
        const searchResults = document.getElementById('search-results');

        searchInput.addEventListener('input', () => {
            const query = searchInput.value.trim();

            if (query.length > 0) {
                fetch(`/search?q=${encodeURIComponent(query)}`, {
                    method: 'GET',
                    headers: {'X-Requested-With': 'XMLHttpRequest'},
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            displayResults(data.results);
                        }
                    })
                    .catch(error => {
                        console.error('Chyba při vyhledávání:', error);
                    });
            } else {
                searchResults.style.display = 'none';
            }
        });

        document.addEventListener('click', (event) => {
            if (!searchInput.contains(event.target) && !searchResults.contains(event.target)) {
                searchResults.style.display = 'none';
            }
        });

        function displayResults(results) {
            let html = '';

            if (results.products.length > 0) {
                html += '<h3>Produkty</h3><ul>';
                results.products.forEach(product => {
                    html += `<li><a href="${product.url}">${product.name}</a> - ${product.description}</li>`;
                });
                html += '</ul>';
            }

            if (results.services.length > 0) {
                html += '<h3>Služby</h3><ul>';
                results.services.forEach(service => {
                    html += `<li><a href="${service.url}">${service.name}</a> - ${service.description}</li>`;
                });
                html += '</ul>';
            }

            if (results.trainers.length > 0) {
                html += '<h3>Trenéři</h3><ul>';
                results.trainers.forEach(trainer => {
                    html += `<li><a href="${trainer.url}">${trainer.name}</a></li>`;
                });
                html += '</ul>';
            }

            if (!html) {
                html = '<p>Žádné výsledky.</p>';
            }

            searchResults.innerHTML = html;
            searchResults.style.display = 'block';
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
        const cartToggle = document.getElementById('cart-toggle');
        const cartDropdown = document.getElementById('navbar-cart-dropdown');
        const cartItems = document.getElementById('navbar-cart-items');
        const cartTotal = document.getElementById('navbar-cart-total');
        const cartCount = document.getElementById('cart-count'); // Element pro počet položek

        // Funkce pro načtení dat z API
        const fetchCartData = () => {
            fetch('/cart/data/navbar/', {
                method: 'GET',
                headers: {'X-Requested-With': 'XMLHttpRequest'}
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Data z API:', data); // Debugging

                    // Aktualizace položek v dropdownu
                    cartItems.innerHTML = '';
                    if (data.items && data.items.length > 0) {
                        data.items.forEach(item => {
                            cartItems.innerHTML += `
                            <li>
                                <a href="${item.url}" class="cart-item-link" style="color: blue; text-decoration: none;">
                                    ${item.name}
                                </a> - ${item.quantity} × ${item.price} Kč
                            </li>
                        `;
                        });
                    } else {
                        cartItems.innerHTML = '<li>Košík je prázdný.</li>';
                    }

                    // Aktualizace celkové ceny a počtu položek
                    cartTotal.textContent = `${data.cart_total} Kč`;
                    cartCount.textContent = data.cart_count; // Dynamická aktualizace počtu položek
                })
                .catch(error => console.error('Chyba při načítání dat z košíku:', error));
        };

        // Přepínání dropdownu košíku
        const toggleCartDropdown = () => {
            cartDropdown.style.display = cartDropdown.style.display === 'block' ? 'none' : 'block';
            fetchCartData(); // Načtení dat při každém otevření dropdownu
        };

        // Připojení událostí
        cartToggle.addEventListener('click', (e) => {
            e.preventDefault();
            toggleCartDropdown();
        });

        document.addEventListener('click', (event) => {
            if (!cartToggle.contains(event.target) && !cartDropdown.contains(event.target)) {
                cartDropdown.style.display = 'none';
            }
        });

        // Načtení dat při načtení stránky
        fetchCartData();
    });

</script>